@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');

 /* These styles ensure that there is no margin or padding on the page, except in places where they are explicitly stated. */
    *{
        margin: 0;
        padding : 0;
        box-sizing: border-box;
    }

:root {

  margin:0 auto;
  font-family: "satoshi", "Clash Display", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --primary: #004DB3;
  --neutral: #A1A1A1;
  --contrast: #FFFFFF;
  --headings: #000F24;
  --buttons: #004DB3;




  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{
  text-decoration: none;
  font-weight: 500;
}

li{
  list-style: none;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover{
  transform: scale(1.1);
}

